{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CADASTRO</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-cadastro.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/-.css') }}">
{% endblock %}

{% block body %}
<div class="background">
    <nav class="nav1">
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
    <div class="C-Principal">
        <form action="/submitcadastro" method="post">
            <h1>Nome de Usuário</h1>
            <input type="text" name="username" id="username" placeholder="Digite seu nome de usuario..." class="inputs">
            <h1>Senha de Usuário</h1>
            <input type="password" name="password1" id="password1" placeholder="Digite sua senha..." class="inputs">
            <h1>Confirme sua senha</h1>
            <input type="password" name="password2" id="password2" placeholder="Confirme sua senha..." class="inputs">
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>


{% endblock %}