{% extends "base.html" %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LOGIN</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/-.css') }}">
{% endblock %}

{% block body %}
<div class="background">
    <nav class="nav1">
        <a href="{{ url_for('cadastro') }}">Cadastro</a>
    </nav>
    <div class="C-Principal">
        <form action="/submitlogin", method="post">
            <h1>Usuário</h1>
            <input type="text" name="username" id="username" placeholder="Digite seu nome de usuario..." class="inputs">
            <h1>Senha</h1>
            <label for="password" id="labelpasswordlogin">Digite sua senha</label>
            <input type="password" name="password" id="password" class="inputs" placeholder="Digite sua senha...">
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}