{% extends "base.html" %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LOGIN</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/-.css') }}">
{% endblock %}

{% block body %}
<a href="{{ url_for('cadastro') }}">Cadastro</a>
<form action="/submitlogin", method="post">
    <h1>Username</h1>
    <input type="text" name="username" id="username" placeholder="Digite seu nome de usuario...">
    <h1>Password</h1>
    <label for="password" id="labelpasswordlogin">Digite sua senha</label>
    <input type="text" name="password" id="password">
    <br>
    <button type="submit">Login</button>
</form>
{% endblock %}