{% extends "base.html" %}

{%block head%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style-userpage.css') }}">

{%endblock%}
{%block body%}
Ola {{username}}

<div class="C-1">
    <div class="C-11">
        <h1>Outros usuarios:</h1>
        <form action="/mandarmensagem" , method="post">
            <select name="selectmensagem" id="destinatario">
                {%for valor in lista%}
                {% if valor != username %}
                <option value="{{valor}}">{{valor}}</option>
                {%endif%}
                {%endfor%}
            </select>
            <input type="text" name="mensagem" id="conteudo">
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="C-12">
        <form action="/atualizar_lista">
            <button type="submit">Atualizar</button>
        </form>
    </div>
</div>
<br>
<br>
{{hora}}
<h1>Mensgens Recebidas:</h1>

<form action="/deletarmensagens" method="post">
    {% for valor in mensagens %}
    <div class="mensagem">
        <br>
        <input type="checkbox" name="mensagem" value="{{valor}}" id="{{valor}}">
        <label for="{{valor}}">{{valor}}</label>
        <br>
    </div>
    {% endfor %}
    <br>
    <button type="submit">Deletar Mensagens</button>
</form>

<!-- <form action="/deletarmensagens" , method="post">
    <select name="deletarmensagens" id="">
        {% for valor in mensagens %}
        <option value="{{valor}}">{{valor}}</option>
        {% endfor %}
    </select>
    <button type="submit">Deletar</button>
</form> -->


<br>
<br>
<form action="/deslogar">
    <button type="submit">Deslogar</button>
</form>


{%endblock%}